.home-container{
    h1{
        text-align: center;
    }
    .filter{
        display: flex;
        flex-direction: column;
        width: 189px;
        padding: 20px;
        #label-table{
            font-size: 20px;
            padding: 20px;
            font-weight: 700;
        }  
    }
}