.products-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 82%;
    margin: auto;
    .shelf-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        font-weight: bold;
        width: 230px;
        margin: 50px auto;
        .link{
            &::before{
                position: absolute;
                height: 326px;
                align-items: center;
                width: 230px;
                justify-content: center;
                display: flex;
                color: white;
                content: 'Ver producto';
                background-color: black;
                opacity: 0;
                transition: .3s ease-in-out;
               }
        
               &:hover::before{
                transition: .3s ease-in-out;
                 opacity: 0.5;
               }
        }
       
        .shelf-item__buy-btn{
            height: 50px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}