.products-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 68%;
    margin: auto;
    .shelf-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        font-weight: bold;
        width: 242px;
        margin: 50px auto;
        transition: .3s ease-in-out;
        padding: 10px;
        &:hover{
            transition: .3s ease-in-out;
            box-shadow: 0px 0px 0px 1px rgb(204, 204, 204);
        }
        .link{
            text-decoration: none;
            color: black;
            box-shadow: 0px 0px 0px 1px;
            padding: 16px;
        }
       
        .shelf-item__buy-btn{
            height: 50px;
            font-weight: 800;
            border: none;
            box-shadow: 0px 0px 0px 1px;
            background: transparent;
            &:hover{
                cursor: pointer;
            }
        }
    }
}